body{
    background-color: rgba(0, 0, 0, 0.816);
}
.webpage{
    width: 100%;
    height: 100%;
   
}
nav{
    display: flex;
    background-color: aquamarine;
    margin: 1px;
    border-radius: 10px;
    position: sticky;
    top: 0;
    
}
nav h3{
    padding: 5px 30px;
}
nav h3:hover{
    background-color: chocolate;

}
.php{
    width: 600px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    background-color: pink;
    display: inline-block;
}
.php h3{
    text-align: center;
}
.php p{
    text-align: center;
}
.jquery{
    display: inline-block;
    width: 600px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    background-color: rgb(253, 250, 146);
}
.jquery h3{
    text-align: center;
}
.jquery p{
    text-align: center;
}
.java{
    display: inline-block;
    width: 600px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    background-color: rgb(255, 255, 255);
}
.java h3{
    text-align: center;
}
.java p{
    text-align: center;
}

.C{
    display: inline-block;
    width: 600px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    background-color: rgb(158, 198, 187);
}
.C h3{
    text-align: center;
}
.C p{
    text-align: center;
}
.CSS{
    display: inline-block;
    width: 600px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    background-color: rgb(141, 225, 236);
}
.CSS h3{
    text-align: center;
}
.CSS p{
    text-align: center;
}
.Bootstrap{
    display: inline-block;
    width: 600px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    background-color: white;
}
.Bootstrap h3{
    text-align: center;
}
.Bootstrap p{
    text-align: center;
}
.clang{
    display: inline-block;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    padding: 10px;
    margin: 50px;
    border: 1px solid black;
    background-color: pink;
}
.clang h3{
    text-align: center;
}
.cadlang{
    display: inline-block;
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    padding: 10px;
    margin: 50px;
    border: 1px solid black;
    background-color: rgb(194, 194, 105);
}
.cadlang h3{
    text-align: center;
}
.r{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(208, 190, 190);
}
.r h2{
    text-align: center;
}
.Kotlin{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(207, 230, 203);
}
.Kotlin h2{
    text-align: center;
}
.node{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(139, 180, 192);
}
.node h2{
    text-align: center;
}
.react{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(198, 127, 127);
}
.react h2{
    text-align: center;
}
.json{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(202, 206, 129);
}
.json h2{
    text-align: center;
}
.vue{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgb(208, 190, 190);
}
.vue h2{
    text-align: center;
}
.Mysql{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(207, 230, 203);
}
.Mysql h2{
    text-align: center;
}
.xml{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(139, 180, 192);
}
.xml h2{
    text-align: center;
}
.saas{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(198, 127, 127);
}
.saas h2{
    text-align: center;
}
.icons{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(202, 206, 129);
}
.icons h2{
    text-align: center;
}
.rwd{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(208, 190, 190);
}
.rwd h2{
    text-align: center;
}
.graphics{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(207, 230, 203);
}
.graphics h2{
    text-align: center;
}
.matplot{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(139, 180, 192);
}
.matplot h2{
    text-align: center;
}
.pandas{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(198, 127, 127);
}
.pandas h2{
    text-align: center;
}
.numpy{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(202, 206, 129);
}
.numpy h2{
    text-align: center;
}
.django{
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(208, 190, 190);
}
.django h2{
    text-align: center;
}
.sublang{
    margin:30px ;
}